button[type=button] {
    padding: 8px;
    font-family: 'Gugi', cursive;
    text-transform: uppercase;
    display: inline-block;
    border: 3px solid #494949 !important;
    border-radius: 6px;
}
button[type=reset] {
    padding: 8px;
    font-family: 'Gugi', cursive;
    text-transform: uppercase;
    display: inline-block;
    border: 3px dotted #494949 !important;
    border-radius: 6px;
    color: black;
    background-color: #E81B00;
}
button[type="submit"] {
    padding: 8px;
    font-family: 'Gugi', cursive;
    text-transform: uppercase;
    display: inline-block;
    border: 3px double #494949 !important;
    border-radius: 15px;
    color: black;
    background-color: green;
}
.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.frm-xs-x {
    width: 10%;
}
.frm-sm-x {
    width: 33%
}
.frm-md-x {
    width: 50%
}
.frm-lg-x {
    width: 95%;
}
.frm-sm-y {
    height: 20px;
}
.frm-md-y {
    height: 60px;
}
.frm-lg-y {
    height: 100px;
}
.frm-bd-sm {
    border: solid 1px;
    padding: 1px;
    margin: 5px;
}
.frm-bd-md {
    border: solid 2px;
    padding: 2px;
    margin: 5px;
}
.frm-bd-lg {
    border: solid 3px;
    padding: 3px;
    margin: 5px;
}
.round {
    border-radius: 7px;
}
.frm-light {
    background-color: #C8C8C8;
    color: black;
}
.frm-dark {
    background-color: #494949;
    color: white;
}


.bg-dark {
    background-color: #494949;
    color: white;
}
.bg-light {
    background-color: #C8C8C8;
    color: black;
}
.bg-red {
   background-color: #FF291B;
}
.bg-green {
    background-color: #0EE853;
}
.bg-yellow {
    background-color: #EBAD10;
}
.bg-orange {
    background-color: #FF8D21;
}
.bg-blue {
    background-color: #4AA3FF;
}

.bd-dark {
    border-color: #494949;
}
.bd-light {
    border-color: #C8C8C8;
}
.bd-red {
   border-color: #FF291B;
}
.bd-green {
    background-color: #0EE853;
}
.bd-yellow {
    background-color: #EBAD10;
}
.bd-orange {
    background-color: #FF8D21;
}
.bd-blue {
    background-color: #4AA3FF;
}
.bd-sm {
    border: solid 1px;
}
.bd-md {
    border: solid 3px;
}
.bd-lg {
    border: solid 6px;
}

.grid-1 { 
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav content ads"
      "nav footer footer";
    grid-template-rows: 80px 1fr 70px;  
    grid-template-columns: 20% 1fr 15%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
}  
  header, footer, article, nav, div {
    padding: 1.2em;;
    }
  #pageHeader {
    grid-area: header;
    }
  #pageFooter {
    grid-area: footer;
    }
  #mainContent { 
    grid-area: content;      
    }
  #mainNav { 
    grid-area: nav; 
    }
  #siteAds { 
    grid-area: ads; 
    } 